
  
    <!-- include JQuery through Google API => Always have the latest version -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"> google.load("jquery", "1.3.2"); </script>

    <!-- import JQTouch -->
    <script src="javascripts/jqtouch/lib/jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>

    <!-- Import JQTouch default style (iPhone look). Replace the string "themes/apple" with "themes/jq" for a neutral (black) theme -->
    <link type="text/css" rel="stylesheet" media="screen" href="javascripts/jqtouch/lib/jqtouch/jqtouch.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="javascripts/jqtouch/lib/themes/apple/theme.css"/>

    <script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA" type="text/javascript"></script>

    <!-- JavaScript goes here -->
    <script type="text/javascript">
      // Fire up JQTouch
      var jQT = $.jQTouch({
        statusBar: 'black'
      });
    </script>

    <!-- CSS styles -->
    <style type="text/css" >

    </style>
    <script type="text/javascript">
    var map = null;
    var geocoder = null;
    var markerOptions =null;
    var eventlon = null;
    var eventlat = null;
    var str = "";
    var iconList = { hairdressing: "red",eating: "yellow", hotel: "orange",convenience: "brown", pub: "green", transport: "gray", atm: "purple", supermarket: "white", bikerental: "blue"};

    function initialize() {
      if (GBrowserIsCompatible()) {

        // Create our "tiny" marker icon
        var tinyIcon = new GIcon();
        tinyIcon.image = "images/mm_20_yellow.png";
        tinyIcon.shadow = "images/mm_20_shadow.png";
        tinyIcon.iconSize = new GSize(12, 20);
        tinyIcon.shadowSize = new GSize(22, 20);
        tinyIcon.iconAnchor = new GPoint(6, 20);
        tinyIcon.infoWindowAnchor = new GPoint(5, 1);

        // Set up our GMarkerOptions object
        markerOptions = { icon:tinyIcon };

      }
    }

    function clearOverlayDetails() {
        map.clearOverlays();
        showloc();
      }

     function locateBusiness(address,title,lat,longit) {
        map.clearOverlays();
        $('div#overlays').show();
        $('div#overlaydistance').show();
         $('div#clearoverlay').show();
        eventlon = longit;
        eventlat = lat;
        point = new GLatLng(lat,longit);
        marker = new GMarker(point);
        map.addOverlay(marker);
        map.addControl(new GLargeMapControl());
        map.setCenter(point, 15);
        GEvent.addListener(marker, "click", function() {
          marker.openInfoWindowHtml(address + '<br>' +
          '<b>Event:</b> ' + title);
        });
        marker.openInfoWindowHtml(address + '<br>' +
          '<b>Event:</b> ' + title);
      }
      function placeOverlays(name,amenity,lat,longit) {

        point = new GLatLng(lat,longit);
        markerOptions.title = amenity + ' ' + name;
        markero = new GMarker(point,markerOptions);
        GEvent.addListener(markero, "click", function() {
          marker.openInfoWindowHtml(name + '<br>' +
          '<b>Amenity:</b> ' + amenity);
        });
        map.addOverlay(markero);
      }

      function overlays(response){
          var overlays = response;
          var ic = iconList[str.replace(" ","")];

          var imageText = "images/mm_20_" + ic + ".png";
          markerOptions.icon.image = imageText;
          for (var i=0; i<overlays.length; i++)
             {
               var lat = overlays[i].overlay.lat;
               var lon = overlays[i].overlay.lon;
               var name = overlays[i].overlay.name;
               var amenity = overlays[i].overlay.amenity;
               placeOverlays(name,amenity,lat,lon);
              }
          point = new GLatLng(eventlat,eventlon);
      }

  $(document).ready(function () {
        initialize();
        $('div#overlays').show();
        $('div#overlaydistance').show();
        $('div#clearoverlay').show();

        $("a#removeoverlay").click(function (e) {
          e.preventDefault();
          clearOverlayDetails();
        });
        $("select").change(function () {
          str = "";
          $("select option:selected").each(function () {
                str += $(this).text();
              });
          $("#showing").text(str);

          var dist = 0.5;
          if (document.domain == 'localhost') {
              urlstring = "http://localhost:3000/overlays.js";
          }
          else {
              urlstring = "http://event-publisher.heroku.com/overlays.js";
          }
          $.ajax({
                    type: "Get",
                    url: urlstring,
                    data: { value: str, distance: dist, lon: eventlon, lat: eventlat, callback: "overlays"},
                    dataType : 'jsonp',
                    success: function (response) {

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    // handle error
                    var i= 0;
                    i = i + 1;
                    }
                });
            });
});
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error, {timeout:10000});
} else {
  alert('geo location not supported');
}
function success(position) {
  var s = document.querySelector('#status');

  if (s.className == 'success') {
    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back
    return;
  }

  s.innerHTML = "found you!";
  s.className = 'success';

  eventlat = position.coords.latitude;
  eventlon = position.coords.longitude;
  if (document.domain == 'localhost') {
    eventlat = 53.348867;
    eventlon = -6.243164;
    }
  map = new GMap2(document.getElementById("map_canvas"));
  map.clearOverlays();
  if ((window.orientation == (-90)) || (window.orientation == (90))) {
      var height = 280;
      $('#map_canvas').css("height",height+"px");
      }
  else {
      var height = 400;
      $('#map_canvas').css("height",height+"px");
   }
   showloc();
}
function showloc() {
   point = new GLatLng(eventlat,eventlon);
   marker = new GMarker(point);
   map.addOverlay(marker);
   map.addControl(new GLargeMapControl());
   map.setCenter(point, 16);
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';

  console.log(arguments);
}

</script>
  
  <!-- "Page 1" -->
  <div id="theform">
    <div class="toolbar">
      <h1>Geo Dublin</h1>
    </div>

     <p style="padding: 1px;padding-left:5px;">Finding your location: <span id="status">checking...</span></p>
     <div id="map_canvas" class="rounded" style="padding: 10px;height: 400px; "></div>


    <div id="overlays" style="padding: 20px;">
      <span>Find Nearby: </span>
      <select id="typeof">
      <option value='none'><p  id="overlay">--select--</p></option>
      <option value='eating'><p  id="overlay">eating</p><img class="icons" src ="images/mm_20_yellow.png" alt=" map icon"/></option>
      <option value='hotel'><p  id="overlay">hotel</p><img class="icons" src ="images/mm_20_orange.png" alt=" map icon"/></option>
      <option value='transport'><p  id="overlay">transport</p><img class="icons" src ="images/mm_20_gray.png" alt=" map icon"/></option>
      <option value='atm'><p  id="overlay">atm</p><img class="icons" src ="images/mm_20_purple.png" alt=" map icon"/></option>
      <option value='store'><p  id="overlay">convenience</p><img class="icons" src ="images/mm_20_brown.png" alt=" map icon"/></option>
      <option value='supermarket'><p  id="overlay">supermarket</p><img class="icons" src ="images/mm_20_white.png" alt=" map icon"/></option>
      <option value='pub'><p  id="overlay">pub</p><img class="icons" src ="images/mm_20_green.png" alt=" map icon"/></option>
      <option value='bike'><p  id="overlay">bike rental</p><img class="icons" src ="images/mm_20_blue.png" alt=" map icon"/></option>
      <option value='hairdressing'><p  id="overlay">hairdressing</p><img class="icons" src ="images/mm_20_red.png" alt=" map icon"/></option>
      </select>
      <span id='#showing'></span>
      <span id="clearoverlay" >
      <a  href='#' id="removeoverlay">clear</a>
    </span>
    </div>



  </div>

  
 